navbar {
    font-family: 'Chivo', sans-serif;
}
.navbar .navbar-brand {
	color: #fff;
	padding-left: 0;
	font-size: 24px;
	padding-right: 50px;          
	font-family: 'Chivo', sans-serif;
    font-weight: bold;
}
.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
	color: #fff !important;
}
.navbar .navbar-nav a.active, .navbar .navbar-nav a.active:hover {
	color: #000 !important;
	background: transparent !important;
}