

    <footer class="w-100 py-4 fixed-bottom">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/charity/" class="nav-link px-2 "><i class="fa fa-medkit"></i></a></li>
        <li class="nav-item"><a href="/donate/" class="nav-link px-2 "><i class="fa fa-money"></i></a></li>
        <li class="nav-item"><a href="https://twitter.com/{{ .Site.Params.twittername }}" target="_blank" class="nav-link px-2 "><i class="fa fa-twitter"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 "><i class="fa fa-telegram"></i></a></li>
        <li class="nav-item"><a href="https://www.instagram.com/{{ .Site.Params.instagramname }}" target="_-blank" class="nav-link px-2 "><i class="fa fa-instagram"></i></a></li>
      </ul>
      <p class="text-center ">{{ .Site.Params.copyrighthtml | safeHTML }}</p>
    </footer>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
